:root{
    --green: #71b280;
    --dark-green: #134e5e;
    
    --blue: #3a7ca7;
    --red: #a63d40;

    --white: #ffffff;
    --dark-white: #dadada;
    --light-gray: #b4b4b4;
    --gray: #8f8f8f;
    --dark-gray: #696969;
    --light-black: #444444;
    --black: #1e1e1e;
}